# Database (Neon - Replace with your connection string)
DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD@ep-gentle-heart-a11ecoa2-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="https://your-app.vercel.app"